body {
  background: #f4f6f9;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #003366;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel {
  text-decoration: none;
  background: #777;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
}

.cancel:hover {
  background: #555;
}

.save {
  background: #2c82ff;
  border: none;
  padding: 10px 18px;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.save:hover {
  background: #186ad8;
}